.col,.row{
    border: 0px solid black;
}
body{
    background-color :paleturquoise;
}
.rowbig{
    width: 50%;
    margin: 20px auto;
    background-color: whitesmoke;
    padding: 30px;
}
h2{
    font-size: 20px;

}
#text1,h2{
    color: gray;
}